@import "../../styles/variables";
@import "../../styles/mixins";
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 40px 20px;
}

.register-container {
  background-color: $bg-card;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 520px;
  box-sizing: border-box;
  box-shadow: 0 10px 30px $shadow-main;

  h2 {
    color: $text-main;
    margin-bottom: 24px;
    text-align: center;
  }
}

.error-message {
  background-color: $danger-bg;
  color: $danger-color;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid $danger-border;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .form-row {
    display: flex;
    gap: 16px;
    width: 100%;

    .form-group {
      flex: 1;
      min-width: 0;
    }

    @media (max-width: $bp-mobile) {
      flex-direction: column;
      gap: 16px;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    label {
      color: $text-secondary;
      font-size: 14px;
    }

   input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid $border-dark;
  background-color: $bg-input-focus;
  color: $text-main;
  font-size: 16px;
  transition: border-color 0.3s;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }

  &.input-error {
    border-color: $danger-color;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $text-main;
    -webkit-box-shadow: 0 0 0px 1000px $bg-input-focus inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

    .error-message {
      color: $danger-color;
      font-size: 12px;
      margin-top: 4px;
      background: none;
      border: none;
      padding: 0;
      text-align: left;
    }
  }

  .register-submit-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition:
      background-color 0.3s,
      transform 0.1s;
    margin-top: 10px;
    width: 100%;

    &:hover {
      background-color: $primary-hover;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

.login-redirect {
  margin-top: 20px;
  text-align: center;
  color: $text-secondary;
  font-size: 14px;

  a {
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
